[Desktop Entry]
Name=Droppy
GenericName=Droppy
Comment=Use the command line
TryExec=droppy
Exec=droppy
Icon=utilities-terminal
Type=Application
Categories=GTK;Utility;TerminalEmulator;System;
StartupNotify=true
X-GNOME-Gettext-Domain=droppy
